doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/display.js')
    script(src='javascripts/engine.js')
    script(src='javascripts/sphere.js')
    script(src='javascripts/gl-matrix-min.js')
  body(onload="main()")
    block content

